html, body {
	margin: 0em;
	padding: 0em;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
}

body {
        background: #F7FCFD; /*Colors tweaked from https://colorbrewer2.org/*/
}

.top-bar {
	background: #E0ECF4;
	border-radius: 0em 0em 1em 1em;
        width: 100%;
        top: 0%;
        margin: 0em;
	overflow: hidden;
}

.top-bar-item {
	position: absolute;
	margin: 0em;
        padding: 0em;
}

#navigation-bar {
        position: absolute;
        top: 0%;
	width: 100%;
	margin: 0em;
}

.navigation-item {
	float: left;
	height: 3.125em;
	margin: 0em;
	background: #BFD3E6;
	position: relative;
}

.navigation-item-left {
	border-radius: 0em 0em 0em 1em;
	/*position: fixed;
	left: 30.465em;*/
}

.navigation-item-right {
	float: auto;
	height: 3.125em;
	background: #BFD3E6;
	border-radius: 0em 0em 1em 0em;
	overflow: hidden;
}

.navigation-item-active {
	background: #8C96C6;
}

.navigation-item > a {
	position: relative;
	top: 15px;
	color: #302030;
	text-decoration: none;
	padding: 1.25em;
	padding-bottom: 1.25em;
	width: 100%;
	height: 100%;
}

.navigation-item-active > a {
	color: #302030;
	text-decoration: none;
}

.navigation-item:hover {	
	background:  #8C6BB1;
}

.navigation-item-right:hover {	
	background: #BFD3E6;
}

.navigation-item-active:hover {	
	background: #8c6bb1;
}

.navigation-item:hover > a {
	color: #302030;
	text-decoration: none;
}

#navigation-name-spacer {
	width: 16em;
	background: none;
	padding: 0em;
}

#name-div {
        position: relative;
	text-align: left;
	padding: 0.45em 0em 0.45em 0.9em;
	margin: 0em;
	color: #707090;
        font-weight: bold;
	font-size: 150%;
}

.info {
	position: relative;
	/*background: #8C1515;
	border-color: #000000;
	padding: 0em;
	min-width: 60em;
	border-radius: 0em 0em 1em 1em;*/
}

.main {
	position: relative;
	/*background: #8C1515;
	border-color: #000000;
	padding: 0em;
	min-width: 60em;
	border-radius: 0em 0em 1em 1em;*/
}


#prof-pic-div {
	margin: 1.25em 1.875em 1.25em 1.875em;
}

#prof-pic {
	height: 11em;
	border: 0.5em solid #BFD3E6;
	border-radius: 0.625em;
}

.role-div {
	text-align: left;
	font-size: 1em;
        margin: 1.25em;
}

.role-sub-div {
	text-align: left;
	color: #707090;
	font-size: 1em;
        padding: 0.1em 0em 0.1em 2em;
}

.role-other-div {
	text-align: left;
	color: #8C96C6;
        padding: 1em 0em 0.1em 2em;
}

.role-icon {
   height: 1.75em;
   width: auto; 
}

.content {
        top: 0;
        position: absolute;
	margin: 0.25em;
	margin-left: 14.8em;
        line-height: 1.6;
        font-size: 110%;
	color: #302030;
}

a {
	color: #5851BD;
}

.content > p {
	max-width: 40em;
}

.content > ul {
	max-width: 37em;
}

.image-text-container {
    position: relative;
    text-align: center;
    max-width: 40em;
}

.over-image-text {
    position: absolute;
    margin: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 200%;
    background: rgba(0, 0, 0, 0.7);
    transform: translate(0, -50%);
}

.over-climbing-image-text {
    position: absolute;
    margin: 0;
    padding-right: 1%;
    padding-left: 1%;
    bottom: 2%;
    right: 2%;
    text-align: right;
    color: white;
    font-size: 140%;
    background: rgba(0, 0, 0, 0.7);
}

.adjacent-container {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.adjacent-container-content {
    float: left;
    top: 0;
}

.adjacent-container-content-right {
    overflow: hidden;
}
